{% if breadcrumbs.size > 0 %}
<div id="breadcrumb">
  <div class="row">
  <nav class="breadcrumbs bootstrap hidden-sm-down">
    {% for crumb in breadcrumbs %}
      {% if forloop.first and site.breadcrumbs.root.image %}
        <a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
          <span class="icon-home" property="name"></span>
          <meta property="position" content="{{ crumb.position }}" />
        </a>
        {% continue %}
      {% endif %}
      {% if forloop.last %}
        <span property="name">{{ crumb.title }}</span>
        <meta property="position" content="{{ crumb.position }}" />
        {% continue %}
      {% endif %}
      <a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
        <span property="name">{{ crumb.title }}</span>
        <meta property="position" content="{{ crumb.position }}" />
      </a>
    {% endfor %}
  </nav>
  </div>
</div>
{% endif %}
