<div class="home">

  {% if page.autopages %}<h1 class="page-heading"><b>{{page.autopages.display_name}}</b></h1>{% endif %}

  {{ content | markdownify }}

  <!--
      Here is the main paginator logic called.
      All calls to site.posts should be replaced by paginator.posts
  -->
  {% for post in paginator.posts %}
    <div class="row">
      <div class="small-12 columns b60">
        <div class="date"><time class="icon-calendar pr20" datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{% include date date=post.date %}</time></div>
        <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
        <div>
          {% if post.image.thumb %}<div><a href="{{ site.url }}{{ post.url }}" title="{{ post.title escape_once }}"><img src="{{ site.url }}{{ post.image.thumb }}" class="alignleft" width="150" height="150" alt="{{ post.title escape_once }}"></a></div>{% endif %}
          <p><a href="{{ site.url }}{{ post.url }}" title="{{ post.title escape_once }}">{% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %} ...</a></p>
        </div>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
  {% endfor %}

  <!--
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.next_page %}
    <li class="previous">
        <a title="Более старые" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;</a>
    </li>
    {% endif %}
    <li>{% include _pagerange.html %}</li>
    {% if paginator.previous_page %}
    <li class="next">
        <a title="Более новые" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
